footer {
  padding: 20px 0 ;
  background-color: $font-color-main;
  @include box-shadow(0 0 0 10px $font-color-main);
  p {
    color: $margin-color;
    @include device(s) {
      text-align: center;
    }
  }
  a img {
    float: right;
    @include device(s) {
      float: none;
      margin: 20px auto;
    }
  }
}