//Cores
$background-color: #edece4;
$font-color-main: #2a2426;
$font-color-det: #988c77;
$margin-color: #cbc6b9;
$success: #1ab912;

//Fontes

$font-1: 'PT Mono', monospace;
$font-2: 'Aref Ruqaa', serif;

@mixin tipo-1($size) {
  font-family: $font-1;
  @if $size == 18 {
    font-size: 18px;
    line-height: 30px;
  }
}

@mixin tipo-2($size) {
  font-family: $font-2;
  @if $size == 18 {
    font-size: 18px;
    line-height: 30px;
  }
  @else if $size == 24 {
    font-size: 24px;
    line-height: 30px;
  }
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}